<footer class="bg text-light text-center py-3 mt-5">
    <p>&copy; 2024 Your Project Name. All rights reserved.</p>
    <a href="/login" class="text-light">Login</a> | 
    <a href="/signin" class="text-light">Sign Up</a>
</footer>
